<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Сингулярность</h3>
    </div>
    <div class="panel-body">
        <p>
            Гравитацио́нная сингуля́рность (иногда сингулярность пространства-времени) — точка (или подмножество) в пространстве-времени,
            через которую невозможно гладко продолжить входящую в неё геодезическую линию.
        </p>
    </div>
</div>